@charset "utf-8";
/*
 * CSS Document
 */
 
.ghost-red {
	float: left;
	width: 28px;
	height: 28px;
	display: grid;
	grid-template-columns: repeat(14, 2px);
	grid-template-rows: repeat(14, 2px);
}

.ghost-red > div:nth-child(6),
.ghost-red > div:nth-child(7),
.ghost-red > div:nth-child(8),
.ghost-red > div:nth-child(9),
.ghost-red > div:nth-child(18),
.ghost-red > div:nth-child(19),
.ghost-red > div:nth-child(20),
.ghost-red > div:nth-child(21),
.ghost-red > div:nth-child(22),
.ghost-red > div:nth-child(23),
.ghost-red > div:nth-child(24),
.ghost-red > div:nth-child(25),
.ghost-red > div:nth-child(31),
.ghost-red > div:nth-child(32),
.ghost-red > div:nth-child(33),
.ghost-red > div:nth-child(34),
.ghost-red > div:nth-child(35),
.ghost-red > div:nth-child(36),
.ghost-red > div:nth-child(37),
.ghost-red > div:nth-child(38),
.ghost-red > div:nth-child(39),
.ghost-red > div:nth-child(40),
.ghost-red > div:nth-child(44),
.ghost-red > div:nth-child(47),
.ghost-red > div:nth-child(48),
.ghost-red > div:nth-child(49),
.ghost-red > div:nth-child(50),
.ghost-red > div:nth-child(53),
.ghost-red > div:nth-child(54),
.ghost-red > div:nth-child(55),
.ghost-red > div:nth-child(62),
.ghost-red > div:nth-child(63),
.ghost-red > div:nth-child(68),
.ghost-red > div:nth-child(69),
.ghost-red > div:nth-child(76),
.ghost-red > div:nth-child(77),
.ghost-red > div:nth-child(82),
.ghost-red > div:nth-child(83),
.ghost-red > div:nth-child(85),
.ghost-red > div:nth-child(90),
.ghost-red > div:nth-child(91),
.ghost-red > div:nth-child(96),
.ghost-red > div:nth-child(97),
.ghost-red > div:nth-child(98),
.ghost-red > div:nth-child(99),
.ghost-red > div:nth-child(100),
.ghost-red > div:nth-child(103),
.ghost-red > div:nth-child(104),
.ghost-red > div:nth-child(105),
.ghost-red > div:nth-child(106),
.ghost-red > div:nth-child(109),
.ghost-red > div:nth-child(110),
.ghost-red > div:nth-child(111),
.ghost-red > div:nth-child(112),
.ghost-red > div:nth-child(113),
.ghost-red > div:nth-child(114),
.ghost-red > div:nth-child(115),
.ghost-red > div:nth-child(116),
.ghost-red > div:nth-child(117),
.ghost-red > div:nth-child(118),
.ghost-red > div:nth-child(119),
.ghost-red > div:nth-child(120),
.ghost-red > div:nth-child(121),
.ghost-red > div:nth-child(122),
.ghost-red > div:nth-child(123),
.ghost-red > div:nth-child(124),
.ghost-red > div:nth-child(125),
.ghost-red > div:nth-child(126),
.ghost-red > div:nth-child(127),
.ghost-red > div:nth-child(128),
.ghost-red > div:nth-child(129),
.ghost-red > div:nth-child(130),
.ghost-red > div:nth-child(131),
.ghost-red > div:nth-child(132),
.ghost-red > div:nth-child(133),
.ghost-red > div:nth-child(134),
.ghost-red > div:nth-child(135),
.ghost-red > div:nth-child(136),
.ghost-red > div:nth-child(137),
.ghost-red > div:nth-child(138),
.ghost-red > div:nth-child(139),
.ghost-red > div:nth-child(140),
.ghost-red > div:nth-child(141),
.ghost-red > div:nth-child(142),
.ghost-red > div:nth-child(143),
.ghost-red > div:nth-child(144),
.ghost-red > div:nth-child(145),
.ghost-red > div:nth-child(146),
.ghost-red > div:nth-child(147),
.ghost-red > div:nth-child(148),
.ghost-red > div:nth-child(149),
.ghost-red > div:nth-child(150),
.ghost-red > div:nth-child(151),
.ghost-red > div:nth-child(152),
.ghost-red > div:nth-child(153),
.ghost-red > div:nth-child(154),
.ghost-red > div:nth-child(155),
.ghost-red > div:nth-child(156),
.ghost-red > div:nth-child(157),
.ghost-red > div:nth-child(158),
.ghost-red > div:nth-child(159),
.ghost-red > div:nth-child(160),
.ghost-red > div:nth-child(161),
.ghost-red > div:nth-child(162),
.ghost-red > div:nth-child(163),
.ghost-red > div:nth-child(164),
.ghost-red > div:nth-child(165),
.ghost-red > div:nth-child(166),
.ghost-red > div:nth-child(167),
.ghost-red > div:nth-child(168),
.ghost-red > div:nth-child(169),
.ghost-red > div:nth-child(170),
.ghost-red > div:nth-child(172),
.ghost-red > div:nth-child(173),
.ghost-red > div:nth-child(174),
.ghost-red > div:nth-child(177),
.ghost-red > div:nth-child(178),
.ghost-red > div:nth-child(179),
.ghost-red > div:nth-child(181),
.ghost-red > div:nth-child(182),
.ghost-red > div:nth-child(183),
.ghost-red > div:nth-child(187),
.ghost-red > div:nth-child(188),
.ghost-red > div:nth-child(191),
.ghost-red > div:nth-child(192),
.ghost-red > div:nth-child(196){
    background: #FE0002;
}

.ghost-red > div:nth-child(45),
.ghost-red > div:nth-child(46),
.ghost-red > div:nth-child(51),
.ghost-red > div:nth-child(52),
.ghost-red > div:nth-child(58),
.ghost-red > div:nth-child(59),
.ghost-red > div:nth-child(60),
.ghost-red > div:nth-child(61),
.ghost-red > div:nth-child(64),
.ghost-red > div:nth-child(65),
.ghost-red > div:nth-child(66),
.ghost-red > div:nth-child(67),
.ghost-red > div:nth-child(74),
.ghost-red > div:nth-child(75),
.ghost-red > div:nth-child(80),
.ghost-red > div:nth-child(81),
.ghost-red > div:nth-child(88),
.ghost-red > div:nth-child(89),
.ghost-red > div:nth-child(94),
.ghost-red > div:nth-child(95),
.ghost-red > div:nth-child(101),
.ghost-red > div:nth-child(102),
.ghost-red > div:nth-child(107),
.ghost-red > div:nth-child(108){
    background: white;
}

.ghost-yellow {
	float: left;
	width: 28px;
	height: 28px;
	display: grid;
	grid-template-columns: repeat(14, 2px);
	grid-template-rows: repeat(14, 2px);
}

.ghost-yellow > div:nth-child(6),
.ghost-yellow > div:nth-child(7),
.ghost-yellow > div:nth-child(8),
.ghost-yellow > div:nth-child(9),
.ghost-yellow > div:nth-child(18),
.ghost-yellow > div:nth-child(19),
.ghost-yellow > div:nth-child(20),
.ghost-yellow > div:nth-child(21),
.ghost-yellow > div:nth-child(22),
.ghost-yellow > div:nth-child(23),
.ghost-yellow > div:nth-child(24),
.ghost-yellow > div:nth-child(25),
.ghost-yellow > div:nth-child(31),
.ghost-yellow > div:nth-child(32),
.ghost-yellow > div:nth-child(33),
.ghost-yellow > div:nth-child(34),
.ghost-yellow > div:nth-child(35),
.ghost-yellow > div:nth-child(36),
.ghost-yellow > div:nth-child(37),
.ghost-yellow > div:nth-child(38),
.ghost-yellow > div:nth-child(39),
.ghost-yellow > div:nth-child(40),
.ghost-yellow > div:nth-child(44),
.ghost-yellow > div:nth-child(47),
.ghost-yellow > div:nth-child(48),
.ghost-yellow > div:nth-child(49),
.ghost-yellow > div:nth-child(50),
.ghost-yellow > div:nth-child(53),
.ghost-yellow > div:nth-child(54),
.ghost-yellow > div:nth-child(55),
.ghost-yellow > div:nth-child(62),
.ghost-yellow > div:nth-child(63),
.ghost-yellow > div:nth-child(68),
.ghost-yellow > div:nth-child(69),
.ghost-yellow > div:nth-child(76),
.ghost-yellow > div:nth-child(77),
.ghost-yellow > div:nth-child(82),
.ghost-yellow > div:nth-child(83),
.ghost-yellow > div:nth-child(85),
.ghost-yellow > div:nth-child(90),
.ghost-yellow > div:nth-child(91),
.ghost-yellow > div:nth-child(96),
.ghost-yellow > div:nth-child(97),
.ghost-yellow > div:nth-child(98),
.ghost-yellow > div:nth-child(99),
.ghost-yellow > div:nth-child(100),
.ghost-yellow > div:nth-child(103),
.ghost-yellow > div:nth-child(104),
.ghost-yellow > div:nth-child(105),
.ghost-yellow > div:nth-child(106),
.ghost-yellow > div:nth-child(109),
.ghost-yellow > div:nth-child(110),
.ghost-yellow > div:nth-child(111),
.ghost-yellow > div:nth-child(112),
.ghost-yellow > div:nth-child(113),
.ghost-yellow > div:nth-child(114),
.ghost-yellow > div:nth-child(115),
.ghost-yellow > div:nth-child(116),
.ghost-yellow > div:nth-child(117),
.ghost-yellow > div:nth-child(118),
.ghost-yellow > div:nth-child(119),
.ghost-yellow > div:nth-child(120),
.ghost-yellow > div:nth-child(121),
.ghost-yellow > div:nth-child(122),
.ghost-yellow > div:nth-child(123),
.ghost-yellow > div:nth-child(124),
.ghost-yellow > div:nth-child(125),
.ghost-yellow > div:nth-child(126),
.ghost-yellow > div:nth-child(127),
.ghost-yellow > div:nth-child(128),
.ghost-yellow > div:nth-child(129),
.ghost-yellow > div:nth-child(130),
.ghost-yellow > div:nth-child(131),
.ghost-yellow > div:nth-child(132),
.ghost-yellow > div:nth-child(133),
.ghost-yellow > div:nth-child(134),
.ghost-yellow > div:nth-child(135),
.ghost-yellow > div:nth-child(136),
.ghost-yellow > div:nth-child(137),
.ghost-yellow > div:nth-child(138),
.ghost-yellow > div:nth-child(139),
.ghost-yellow > div:nth-child(140),
.ghost-yellow > div:nth-child(141),
.ghost-yellow > div:nth-child(142),
.ghost-yellow > div:nth-child(143),
.ghost-yellow > div:nth-child(144),
.ghost-yellow > div:nth-child(145),
.ghost-yellow > div:nth-child(146),
.ghost-yellow > div:nth-child(147),
.ghost-yellow > div:nth-child(148),
.ghost-yellow > div:nth-child(149),
.ghost-yellow > div:nth-child(150),
.ghost-yellow > div:nth-child(151),
.ghost-yellow > div:nth-child(152),
.ghost-yellow > div:nth-child(153),
.ghost-yellow > div:nth-child(154),
.ghost-yellow > div:nth-child(155),
.ghost-yellow > div:nth-child(156),
.ghost-yellow > div:nth-child(157),
.ghost-yellow > div:nth-child(158),
.ghost-yellow > div:nth-child(159),
.ghost-yellow > div:nth-child(160),
.ghost-yellow > div:nth-child(161),
.ghost-yellow > div:nth-child(162),
.ghost-yellow > div:nth-child(163),
.ghost-yellow > div:nth-child(164),
.ghost-yellow > div:nth-child(165),
.ghost-yellow > div:nth-child(166),
.ghost-yellow > div:nth-child(167),
.ghost-yellow > div:nth-child(168),
.ghost-yellow > div:nth-child(169),
.ghost-yellow > div:nth-child(170),
.ghost-yellow > div:nth-child(172),
.ghost-yellow > div:nth-child(173),
.ghost-yellow > div:nth-child(174),
.ghost-yellow > div:nth-child(177),
.ghost-yellow > div:nth-child(178),
.ghost-yellow > div:nth-child(179),
.ghost-yellow > div:nth-child(181),
.ghost-yellow > div:nth-child(182),
.ghost-yellow > div:nth-child(183),
.ghost-yellow > div:nth-child(187),
.ghost-yellow > div:nth-child(188),
.ghost-yellow > div:nth-child(191),
.ghost-yellow > div:nth-child(192),
.ghost-yellow > div:nth-child(196){
    background: #FF9000;
}

.ghost-yellow > div:nth-child(45),
.ghost-yellow > div:nth-child(46),
.ghost-yellow > div:nth-child(51),
.ghost-yellow > div:nth-child(52),
.ghost-yellow > div:nth-child(58),
.ghost-yellow > div:nth-child(59),
.ghost-yellow > div:nth-child(60),
.ghost-yellow > div:nth-child(61),
.ghost-yellow > div:nth-child(64),
.ghost-yellow > div:nth-child(65),
.ghost-yellow > div:nth-child(66),
.ghost-yellow > div:nth-child(67),
.ghost-yellow > div:nth-child(74),
.ghost-yellow > div:nth-child(75),
.ghost-yellow > div:nth-child(80),
.ghost-yellow > div:nth-child(81),
.ghost-yellow > div:nth-child(88),
.ghost-yellow > div:nth-child(89),
.ghost-yellow > div:nth-child(94),
.ghost-yellow > div:nth-child(95),
.ghost-yellow > div:nth-child(101),
.ghost-yellow > div:nth-child(102),
.ghost-yellow > div:nth-child(107),
.ghost-yellow > div:nth-child(108){
    background: white;
}

.ghost-blue {
	float: left;
	width: 28px;
	height: 28px;
	display: grid;
	grid-template-columns: repeat(14, 2px);
	grid-template-rows: repeat(14, 2px);
}

.ghost-blue > div:nth-child(6),
.ghost-blue > div:nth-child(7),
.ghost-blue > div:nth-child(8),
.ghost-blue > div:nth-child(9),
.ghost-blue > div:nth-child(18),
.ghost-blue > div:nth-child(19),
.ghost-blue > div:nth-child(20),
.ghost-blue > div:nth-child(21),
.ghost-blue > div:nth-child(22),
.ghost-blue > div:nth-child(23),
.ghost-blue > div:nth-child(24),
.ghost-blue > div:nth-child(25),
.ghost-blue > div:nth-child(31),
.ghost-blue > div:nth-child(32),
.ghost-blue > div:nth-child(33),
.ghost-blue > div:nth-child(34),
.ghost-blue > div:nth-child(35),
.ghost-blue > div:nth-child(36),
.ghost-blue > div:nth-child(37),
.ghost-blue > div:nth-child(38),
.ghost-blue > div:nth-child(39),
.ghost-blue > div:nth-child(40),
.ghost-blue > div:nth-child(44),
.ghost-blue > div:nth-child(47),
.ghost-blue > div:nth-child(48),
.ghost-blue > div:nth-child(49),
.ghost-blue > div:nth-child(50),
.ghost-blue > div:nth-child(53),
.ghost-blue > div:nth-child(54),
.ghost-blue > div:nth-child(55),
.ghost-blue > div:nth-child(62),
.ghost-blue > div:nth-child(63),
.ghost-blue > div:nth-child(68),
.ghost-blue > div:nth-child(69),
.ghost-blue > div:nth-child(76),
.ghost-blue > div:nth-child(77),
.ghost-blue > div:nth-child(82),
.ghost-blue > div:nth-child(83),
.ghost-blue > div:nth-child(85),
.ghost-blue > div:nth-child(90),
.ghost-blue > div:nth-child(91),
.ghost-blue > div:nth-child(96),
.ghost-blue > div:nth-child(97),
.ghost-blue > div:nth-child(98),
.ghost-blue > div:nth-child(99),
.ghost-blue > div:nth-child(100),
.ghost-blue > div:nth-child(103),
.ghost-blue > div:nth-child(104),
.ghost-blue > div:nth-child(105),
.ghost-blue > div:nth-child(106),
.ghost-blue > div:nth-child(109),
.ghost-blue > div:nth-child(110),
.ghost-blue > div:nth-child(111),
.ghost-blue > div:nth-child(112),
.ghost-blue > div:nth-child(113),
.ghost-blue > div:nth-child(114),
.ghost-blue > div:nth-child(115),
.ghost-blue > div:nth-child(116),
.ghost-blue > div:nth-child(117),
.ghost-blue > div:nth-child(118),
.ghost-blue > div:nth-child(119),
.ghost-blue > div:nth-child(120),
.ghost-blue > div:nth-child(121),
.ghost-blue > div:nth-child(122),
.ghost-blue > div:nth-child(123),
.ghost-blue > div:nth-child(124),
.ghost-blue > div:nth-child(125),
.ghost-blue > div:nth-child(126),
.ghost-blue > div:nth-child(127),
.ghost-blue > div:nth-child(128),
.ghost-blue > div:nth-child(129),
.ghost-blue > div:nth-child(130),
.ghost-blue > div:nth-child(131),
.ghost-blue > div:nth-child(132),
.ghost-blue > div:nth-child(133),
.ghost-blue > div:nth-child(134),
.ghost-blue > div:nth-child(135),
.ghost-blue > div:nth-child(136),
.ghost-blue > div:nth-child(137),
.ghost-blue > div:nth-child(138),
.ghost-blue > div:nth-child(139),
.ghost-blue > div:nth-child(140),
.ghost-blue > div:nth-child(141),
.ghost-blue > div:nth-child(142),
.ghost-blue > div:nth-child(143),
.ghost-blue > div:nth-child(144),
.ghost-blue > div:nth-child(145),
.ghost-blue > div:nth-child(146),
.ghost-blue > div:nth-child(147),
.ghost-blue > div:nth-child(148),
.ghost-blue > div:nth-child(149),
.ghost-blue > div:nth-child(150),
.ghost-blue > div:nth-child(151),
.ghost-blue > div:nth-child(152),
.ghost-blue > div:nth-child(153),
.ghost-blue > div:nth-child(154),
.ghost-blue > div:nth-child(155),
.ghost-blue > div:nth-child(156),
.ghost-blue > div:nth-child(157),
.ghost-blue > div:nth-child(158),
.ghost-blue > div:nth-child(159),
.ghost-blue > div:nth-child(160),
.ghost-blue > div:nth-child(161),
.ghost-blue > div:nth-child(162),
.ghost-blue > div:nth-child(163),
.ghost-blue > div:nth-child(164),
.ghost-blue > div:nth-child(165),
.ghost-blue > div:nth-child(166),
.ghost-blue > div:nth-child(167),
.ghost-blue > div:nth-child(168),
.ghost-blue > div:nth-child(169),
.ghost-blue > div:nth-child(170),
.ghost-blue > div:nth-child(172),
.ghost-blue > div:nth-child(173),
.ghost-blue > div:nth-child(174),
.ghost-blue > div:nth-child(177),
.ghost-blue > div:nth-child(178),
.ghost-blue > div:nth-child(179),
.ghost-blue > div:nth-child(181),
.ghost-blue > div:nth-child(182),
.ghost-blue > div:nth-child(183),
.ghost-blue > div:nth-child(187),
.ghost-blue > div:nth-child(188),
.ghost-blue > div:nth-child(191),
.ghost-blue > div:nth-child(192),
.ghost-blue > div:nth-child(196){
    background: #1BD8DA;
}

.ghost-blue > div:nth-child(45),
.ghost-blue > div:nth-child(46),
.ghost-blue > div:nth-child(51),
.ghost-blue > div:nth-child(52),
.ghost-blue > div:nth-child(58),
.ghost-blue > div:nth-child(59),
.ghost-blue > div:nth-child(60),
.ghost-blue > div:nth-child(61),
.ghost-blue > div:nth-child(64),
.ghost-blue > div:nth-child(65),
.ghost-blue > div:nth-child(66),
.ghost-blue > div:nth-child(67),
.ghost-blue > div:nth-child(74),
.ghost-blue > div:nth-child(75),
.ghost-blue > div:nth-child(80),
.ghost-blue > div:nth-child(81),
.ghost-blue > div:nth-child(88),
.ghost-blue > div:nth-child(89),
.ghost-blue > div:nth-child(94),
.ghost-blue > div:nth-child(95),
.ghost-blue > div:nth-child(101),
.ghost-blue > div:nth-child(102),
.ghost-blue > div:nth-child(107),
.ghost-blue > div:nth-child(108){
    background: white;
}

.ghost-pink {
	float: left;
	width: 28px;
	height: 28px;
	display: grid;
	grid-template-columns: repeat(14, 2px);
	grid-template-rows: repeat(14, 2px);
}

.ghost-pink > div:nth-child(6),
.ghost-pink > div:nth-child(7),
.ghost-pink > div:nth-child(8),
.ghost-pink > div:nth-child(9),
.ghost-pink > div:nth-child(18),
.ghost-pink > div:nth-child(19),
.ghost-pink > div:nth-child(20),
.ghost-pink > div:nth-child(21),
.ghost-pink > div:nth-child(22),
.ghost-pink > div:nth-child(23),
.ghost-pink > div:nth-child(24),
.ghost-pink > div:nth-child(25),
.ghost-pink > div:nth-child(31),
.ghost-pink > div:nth-child(32),
.ghost-pink > div:nth-child(33),
.ghost-pink > div:nth-child(34),
.ghost-pink > div:nth-child(35),
.ghost-pink > div:nth-child(36),
.ghost-pink > div:nth-child(37),
.ghost-pink > div:nth-child(38),
.ghost-pink > div:nth-child(39),
.ghost-pink > div:nth-child(40),
.ghost-pink > div:nth-child(44),
.ghost-pink > div:nth-child(47),
.ghost-pink > div:nth-child(48),
.ghost-pink > div:nth-child(49),
.ghost-pink > div:nth-child(50),
.ghost-pink > div:nth-child(53),
.ghost-pink > div:nth-child(54),
.ghost-pink > div:nth-child(55),
.ghost-pink > div:nth-child(62),
.ghost-pink > div:nth-child(63),
.ghost-pink > div:nth-child(68),
.ghost-pink > div:nth-child(69),
.ghost-pink > div:nth-child(76),
.ghost-pink > div:nth-child(77),
.ghost-pink > div:nth-child(82),
.ghost-pink > div:nth-child(83),
.ghost-pink > div:nth-child(85),
.ghost-pink > div:nth-child(90),
.ghost-pink > div:nth-child(91),
.ghost-pink > div:nth-child(96),
.ghost-pink > div:nth-child(97),
.ghost-pink > div:nth-child(98),
.ghost-pink > div:nth-child(99),
.ghost-pink > div:nth-child(100),
.ghost-pink > div:nth-child(103),
.ghost-pink > div:nth-child(104),
.ghost-pink > div:nth-child(105),
.ghost-pink > div:nth-child(106),
.ghost-pink > div:nth-child(109),
.ghost-pink > div:nth-child(110),
.ghost-pink > div:nth-child(111),
.ghost-pink > div:nth-child(112),
.ghost-pink > div:nth-child(113),
.ghost-pink > div:nth-child(114),
.ghost-pink > div:nth-child(115),
.ghost-pink > div:nth-child(116),
.ghost-pink > div:nth-child(117),
.ghost-pink > div:nth-child(118),
.ghost-pink > div:nth-child(119),
.ghost-pink > div:nth-child(120),
.ghost-pink > div:nth-child(121),
.ghost-pink > div:nth-child(122),
.ghost-pink > div:nth-child(123),
.ghost-pink > div:nth-child(124),
.ghost-pink > div:nth-child(125),
.ghost-pink > div:nth-child(126),
.ghost-pink > div:nth-child(127),
.ghost-pink > div:nth-child(128),
.ghost-pink > div:nth-child(129),
.ghost-pink > div:nth-child(130),
.ghost-pink > div:nth-child(131),
.ghost-pink > div:nth-child(132),
.ghost-pink > div:nth-child(133),
.ghost-pink > div:nth-child(134),
.ghost-pink > div:nth-child(135),
.ghost-pink > div:nth-child(136),
.ghost-pink > div:nth-child(137),
.ghost-pink > div:nth-child(138),
.ghost-pink > div:nth-child(139),
.ghost-pink > div:nth-child(140),
.ghost-pink > div:nth-child(141),
.ghost-pink > div:nth-child(142),
.ghost-pink > div:nth-child(143),
.ghost-pink > div:nth-child(144),
.ghost-pink > div:nth-child(145),
.ghost-pink > div:nth-child(146),
.ghost-pink > div:nth-child(147),
.ghost-pink > div:nth-child(148),
.ghost-pink > div:nth-child(149),
.ghost-pink > div:nth-child(150),
.ghost-pink > div:nth-child(151),
.ghost-pink > div:nth-child(152),
.ghost-pink > div:nth-child(153),
.ghost-pink > div:nth-child(154),
.ghost-pink > div:nth-child(155),
.ghost-pink > div:nth-child(156),
.ghost-pink > div:nth-child(157),
.ghost-pink > div:nth-child(158),
.ghost-pink > div:nth-child(159),
.ghost-pink > div:nth-child(160),
.ghost-pink > div:nth-child(161),
.ghost-pink > div:nth-child(162),
.ghost-pink > div:nth-child(163),
.ghost-pink > div:nth-child(164),
.ghost-pink > div:nth-child(165),
.ghost-pink > div:nth-child(166),
.ghost-pink > div:nth-child(167),
.ghost-pink > div:nth-child(168),
.ghost-pink > div:nth-child(169),
.ghost-pink > div:nth-child(170),
.ghost-pink > div:nth-child(172),
.ghost-pink > div:nth-child(173),
.ghost-pink > div:nth-child(174),
.ghost-pink > div:nth-child(177),
.ghost-pink > div:nth-child(178),
.ghost-pink > div:nth-child(179),
.ghost-pink > div:nth-child(181),
.ghost-pink > div:nth-child(182),
.ghost-pink > div:nth-child(183),
.ghost-pink > div:nth-child(187),
.ghost-pink > div:nth-child(188),
.ghost-pink > div:nth-child(191),
.ghost-pink > div:nth-child(192),
.ghost-pink > div:nth-child(196){
    background: #FFA0A1;
}

.ghost-pink > div:nth-child(45),
.ghost-pink > div:nth-child(46),
.ghost-pink > div:nth-child(51),
.ghost-pink > div:nth-child(52),
.ghost-pink > div:nth-child(58),
.ghost-pink > div:nth-child(59),
.ghost-pink > div:nth-child(60),
.ghost-pink > div:nth-child(61),
.ghost-pink > div:nth-child(64),
.ghost-pink > div:nth-child(65),
.ghost-pink > div:nth-child(66),
.ghost-pink > div:nth-child(67),
.ghost-pink > div:nth-child(74),
.ghost-pink > div:nth-child(75),
.ghost-pink > div:nth-child(80),
.ghost-pink > div:nth-child(81),
.ghost-pink > div:nth-child(88),
.ghost-pink > div:nth-child(89),
.ghost-pink > div:nth-child(94),
.ghost-pink > div:nth-child(95),
.ghost-pink > div:nth-child(101),
.ghost-pink > div:nth-child(102),
.ghost-pink > div:nth-child(107),
.ghost-pink > div:nth-child(108){
    background: white;
}